.slider {
   /*default is width 400 and margin 10 */
	width: 350px;
	margin: 10px;
  background: transparent;
  opacity:  2;
  height:  10px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
}

input.range:focus {
  outline: 0;
}
input.range::-moz-focus-outer {
  border: 0;
}

.hidden {
    display: none; }

.unhidden {
    display: block; }

.arcButton {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 3px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.arcButton:hover{
    background-color:#f44336; /*Green*/
}

.instruction{
    color:#424242;
    text-align: justify;
    font-size: 17px;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;

}
.targetSen{
    color:#2E9AFE;
}

.notBoth{
    color: red;
    font-size:22;
}

.originalSen {
	color: #E7532B;
}

.targetSen, .originalSen {
	text-align:left;
	font-size:20;
}

.row {
    padding-bottom: .5em;
}


.tr {
  padding: 0;
  text-align: left;
}
.retryButton{
    font-color: black;
    padding: 1px 8px;

}
.retryButton:hover{
    background-color: #f44336;
    padding: 1px 8px;
}
.continueButton{
    padding: 1px 8px;
}

.continueButton:hover{
   background-color: #008CBA;
   padding: 1px 8px;
}
.slider_table {
   margin-left: 0;
   text-align: left;
   padding-top: 0cm;
   padding-bottom: 1cm;
}

.radio_buttons {
   margin-left: 0;
   text-align: left;
   padding-top: 0cm;
   padding-bottom: 1cm;
}

.input[type=radio] {
    margin: 0;
      display: block;
}

table.likertscale  {
  /*border: 1px solid black;*/
  text-align: center;
  width: 90%;
  align-self: left;
  margin-left:auto;
  margin-right:auto;
}

tr,td {
/*  border: 1px solid black;*/
}

td:nth-child(1) {
 width: 200px
}

td:nth-child(9) {
 width: 200px
}

.left {
	font-size: 80%;
  text-align: left;
}

.center {
	font-size: 80%;
  text-align: center;
}

.right {
	font-size: 80%;
  text-align: right;
}


.legal {
	font-size: 70%;
	font-style: italic;
}

.bold {
  font-style: bold;
}

.slide {
	border: 1px solid #666;
  padding-bottom: 2cm;
}

./*trialslide {
  border: 1px solid #666;
  padding-top: 0cm;
  padding-left: 2cm;
  padding-right: 2cm;
  padding-bottom: 2cm;
}*/

.trialslide {
}

/*table.sidebyside {*/
  /*center-align: auto;*/
  /*horizontal-align: left;*/
  /*width: 900px;*/
/*}*/

/*For the below, that is, getting the table to center: https://www.granneman.com/webdev/coding/css/centertables*/

table.sidebyside {
  margin-left: auto;
  margin-right: auto;
  width: 820px;
}

/*table.sidebysideintro {
  margin-left: auto;
  margin-right: auto;
  width: 820px;
}*/

td.structureleft {
  font-size: 80%;
  width: 500px;
}

td.structureright {
  font-size: 80%;
  width: 400px;
  padding-right: 10px;
}

/*td.structureleftintro {
  font-size: 80%;
  width: 450px;
}

td.structurerightintro {
  font-size: 80%;
  width: 350px;
  padding-left: 50px;
}*/

/*td.structureitalics {
  font-size: 80%;
  font-style: italic;
  width: 400px;
  padding-left: 50px;
}

td.structurebold {
  font-style: bold;
  font-size: 80%;
  width: 400px;
  padding-left: 50px;
}*/

datalist {
  display: flex;
  justify-content: space-evenly;
  font-size: 80%;
  color: black;
  width: 100%;
}

/*input {
  width: 50%;
}
*/








/*input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 8px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}*/
